<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="defaultLayout" value="${longdate:universalTime=false} | ${threadname:whenEmpty=UNKNOWN_${threadid}} | ${level:uppercase=true:padding=-5} | ${logger} : ${message} ${exception}"/>
    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="logfile" fileName="${basedir}/logs/OpenGLGameEngine_${date:format=yyyy-MM-dd_HH:cached=true}.log"
                archiveFileName="${basedir}/logs/OpenGLGameEngine_${date:cached=true:format=yyyy-MM dd_HH}_({#}).log"
                archiveNumbering = "Rolling"
                archiveOldFileOnStartup="true"
                layout="${var:defaultLayout}" />
        <target xsi:type="ColoredConsole" name="logconsole" layout="${var:defaultLayout}" >
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="DarkRed"/>
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
    </rules>
</nlog>